----------------------------------

#mongo atlas url-

#DB_URL=<your mongo atlas connection url>

----------------------------------

# cosmo azure url-

DB_URL=mongodb://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DB Collection name *optional>?ssl=true

----------------------------------
SECRET=<JWT Secret>
#DB_ENV=testing